* {
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: #002447;
}

#headline {
    margin: 10px 10px;
    float: left;
    position: absolute;
    left: 20%;
    color: #feb249;
    font-size: 40px;
    transition: 0.5s;
}

#headline:hover {
    color: #fbeceb;
}

button {
    margin-top: 10px;
    margin-bottom: 15px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #fbeceb;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s;
    border: none;
    font-size: 16px;
}

button:hover {
    background-color: #2b7a78;
    color: #feb249;
}

div.grids {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;

    transition: 0.3s;

}

#gridContainer {
    display: grid;
    gap: 2px;
    
    height: 500px;
    width: 500px;

    position: absolute;
    left: 37%;
    top: 80px;

    background-color: #2b7a78;

    border-radius: 3px;
}